.lead{
  margin: 48px 0 64px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}


@media screen and (min-width: 768px){
  .lead{
    margin: 48px 0 88px;
  }
}

@media screen and (min-width: 1024px){
  .lead{
    margin: 48px 48px 92px;
  }
}

@media screen and (min-width: 1280px){
  .lead{
    margin: 56px calc(148 / 1280 * 100%) 92px;
  }
}