.header{
  margin: 16px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (min-width: 768px){
  .header{
    margin: 28px 24px;
  }
}

@media screen  and (min-width: 1024px){
  .header{
    margin: 28px 48px;
  }
}

@media screen and (min-width: 1280px){
  .header{
    margin: 28px calc(48 / 1280 * 100%);
  }
}