.header__link{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

@media screen and (min-width: 768px){
  .header__link{
    font-size: 24px;
    line-height: 28px;
  }
}