.header__logo-image{
  margin: 0;
  margin-right: 15px;
  padding: 0;
  width: 64px;
  height: 42px;
}

@media screen and (min-width: 768px){
  .header__logo-image{
    margin-right: 20px;
    width: 72px;
    height: 52px;
  }
}
