.place{
  display: grid;
  align-items: start;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto;
  gap: 32px;
}

@media screen and (min-width: 768px) { 
  .place{
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 340px auto;
    gap: 48px 28px;
  }
}

@media screen  and (min-width: 1024px){
  .place{
    grid-template-columns: 440px auto;
    gap: 48px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place{
    grid-template-columns: 460px 484px;
    gap: 48px 40px;
  }
}