.footer{
  padding: 0;
  display: flex;
  justify-content: space-between;
  justify-items: flex-end;
}

@media screen and (max-width: 768px){
  .footer{
    margin: 24px 16px;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px){
  .footer{
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .footer{
    margin: 24px;
  }
}

@media screen  and (min-width: 1024px) and (max-width: 1280px){
  .footer{
    margin: 24px 48px;
  }
}

@media screen and (min-width: 1280px){
  .footer{
    margin: 24px calc(48 / 1280 * 100%);
  }
}